In [5]:
import csv

file_1 = "C:\\Users\\IITM\\Documents\\iitm python\\ncsv.csv"
f = open(file_1)
file_content = csv.reader(f)
for row in file_content:
    print(row)

['Name', 'Age']
['Arti', '20']
['Kalam', '60']
['Atul', '25']
['Krishnan', '24']
['Sahana', '20']

In [21]:
import csv

file_1 = "C:\\Users\\IITM\\Documents\\iitm python\\ncsv.csv"
f = open(file_1)
file_content = csv.DictReader(f)
for row in file_content:
    print(row)

{'1': '4', '2': '5', '3': '6'}
{'1': '7', '2': '8', '3': '9'}

In [1]:
import csv

with open("eggs.csv", "w", newline="") as csvfile:
    spamwriter = csv.writer(
        csvfile, delimiter=" ", quotechar="|", quoting=csv.QUOTE_MINIMAL
    )
    spamwriter.writerow("chicks")
    spamwriter.writerow("chicken")

In [29]:
import csv

with open("names.csv", "w", newline="") as csvfile:
    fieldnames = ["first_name", "last_name"]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({"first_name": "Baked", "last_name": "Beans"})
    writer.writerow({"first_name": "Lovely", "last_name": "Spam"})
    writer.writerow({"first_name": "Wonderful", "last_name": 1})

In [1]:
import pandas as pd

In [23]:
fl = "C:\\Users\\IITM\\Downloads\\Scores.csv"

In [25]:
scores = pd.read_csv(fl)

In [38]:
scores

,CardNo,Name,Gender,DateOfBirth,CityTown,Mathematics,Physics,Chemistry,Total
0,0,Bhuvanesh,M,44142,Erode,68,64,78,210
1,1,Harish,M,43985,Salem,62,45,91,198
2,2,Shashank,M,43834,Chennai,57,54,77,188
3,3,Rida,F,43956,Chennai,42,53,78,173
4,4,Ritika,F,44152,Madurai,87,64,89,240
5,5,Akshaya,F,43869,Chennai,71,92,84,247
6,6,Sameer,M,43913,Ambur,81,82,87,250
7,7,Aditya,M,43905,Vellore,84,92,76,252
8,8,Surya,M,43889,Bengaluru,74,64,51,189
9,9,Clarence,M,44171,Bengaluru,63,88,73,224
10,10,Kavya,F,43842,Chennai,64,72,68,204
11,11,Rahul,M,43951,Bengaluru,97,92,92,281
12,12,Srinidhi,F,43844,Chennai,52,64,71,187
13,13,Gopi,M,43957,Madurai,65,73,89,227
14,14,Sophia,F,44035,Trichy,89,62,93,244
15,15,Goutami,F,44096,Theni,76,58,90,224
16,16,Tauseef,M,44195,Trichy,87,86,43,216
17,17,Arshad,M,44179,Chennai,62,81,67,210
18,18,Abirami,F,44113,Erode,72,92,97,261
19,19,Vetrivel,M,44073,Trichy,56,78,62,196
20,20,Kalyan,M,44091,Vellore,93,68,91,252
21,21,Monika,F,43905,Bengaluru,78,69,74,221
22,22,Priya,F,44029,Nagercoil,62,62,57,181
23,23,Deepika,F,43964,Bengaluru,97,91,88,276
24,24,Siddharth,M,44191,Madurai,44,72,58,174
25,25,Geeta,F,43967,Chennai,87,75,92,254
26,26,JK,M,44034,Chennai,74,71,82,227
27,27,Jagan,M,43894,Madurai,81,76,52,209
28,28,Nisha,F,44084,Madurai,74,83,83,240
29,29,Naveen,M,44117,Vellore,72,66,81,219

In [39]:
print(scores[scores["Name"] == "Harish"])

   CardNo    Name Gender  DateOfBirth CityTown  Mathematics  Physics  \
1       1  Harish      M        43985    Salem           62       45

   Chemistry  Total
1         91    198